{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
- À propos
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('about') }}
{% endblock %}
{% block body %}
{% set goodnesses = [
{
'goodness': 'L\'Humain avant tout :',
'text': ' Les Ressources Humaines sont d’abord une histoire de Femmes et d’Hommes qui concernent aussi bien les salariés
que les dirigeants d’entreprise. Dans cette chaîne, chacun apporte des valeurs humaines qui font la réussite d’un projet
d’entreprise. Au CERHA, nous plaçons l’humain au cœur de nos méthodes, de nos échanges et de nos décisions.',
},
{
'goodness': 'Rigueur et professionnalisme :',
'text': 'Alliant un profil scientifique et un profil R.H., notre objectif est d’apporter rigueur et expertise dans
toutes nos démarches. L‘écoute, la compréhension de vos besoins et de vos enjeux, la prise de hauteur sont les maitres
mots de notre travail',
},
{
'goodness': 'Confidentialité et transparence',
'text': ' La réussite des Ressources Humaines passe par la confiance entre vous et nous, et par la confidentialité de
vos dossiers. Nous garantissons la plus grande confidentialité et des garanties contractuelles de l’intégrité de nos
interventions.',
},
] %}
{% set missions = [
{
'title': 'Entreprises',
'slogan': '',
'text': 'Notre expertise combinée de l\'humain, des RH, et des financements publics nous permettent de vous proposer une
offre de services sur-mesure qui répondra à vos besoins en recrutement, le suivi d\'intégration de vos salariés et la
mise en œuvre de votre stratégie sont politique RH',
'image': '/build/images/pexels-fauxels-3183156.076960c5.jpg',
},
{
'title': 'Candidats',
'slogan': 'Ne manquez pas une opportunité d’emploi à cause d’une mauvaise préparation. Choisir le CERHA c’est s’engager
pour réussir ! ',
'text': 'Notre approche 360° est tournée pour optimiser vos candidatures. Du coaching personnalisé à l’établissement de
vos besoins, nous vous aidons à augmenter vos chances en fonction de la demande du marché.',
'image': '/build/images/pexels-cottonbro-3584969.64ced76e.jpg',
},

] %}
<main id="about">
	<section class="presentation container my-5 pb-5">
		<div class="row">
			<div class="col text-center">
				<h1 class="mt-2 mb-4">À propos</h1>
			</div>
		</div>
		<div class="row flex-">
			<div class="col-lg-6 d-flex justify-content-center">
				<img class="rounded-1 w-100" src="{{ asset('/build/images/teamwork-g834912e52_640.a439adcd.jpg') }}"
					alt="Enterprise image">
			</div>
			<div class="col-lg-6 d-flex justify-content-center">
				<p>
					Nous sommes le CERHA. Nous sommes l’association de 2 spécialistes dans les domaines du Financement
					Public et des Ressources Humaines, principalement en B2B et en B2C.

					<br>
					C’est-à-dire, nous proposons un accompagnement de bout en bout. Autrement dit, nous accompagnons nos
					clients à travers une expertise RH, des actions de recrutements spécialisés sur les hauts profils
					(Master, Ingénieur, Docteur) et les profils en tension.
					<br>
					En lien avec leurs actions RH, nous recherchons les aides publiques adaptées à leurs capacités dues
					au(x) recrutement(s).
					<br>
					De plus, nous proposons un accompagnement spécialisé d’analyse et de préparation d’éléments de
					candidatures jusqu’à l’obtention de l’entretien, dont les hauts profils et profils en tension
					répondent à notre expertise et aux besoins de nos clients.
					<br>
					Enfin, nous vous déchargeons des stress générés liés à la spécificité des contrats (CDD, CDI, CDD
					Tremplin, Contrats d'apprentissage, Contrats de professionnalisation, stages), et assurons le lien
					avec les différents organismes (OPCO, Pôle emploi, CFA, ...).
					<br>
					Cela vous permettra d'accueillir sereinement
					vos futurs collaborateurs !
				</p>

			</div>
		</div>
	</section>
	<section class="employee container-fluid my-5">
		<div class="row">
			<h2 class="mt-4 text-center">L'équipe de direction</h2>
		</div>
		<div class="row my-4 flex-lg-row justify-content-center">
			{% for employee in employees %}
			<div class="col-lg-4 text-center">
				<img class="rounded-1" src="{{ vich_uploader_asset(employee) }}"
					alt="{{ employee.firstname ~ employee.lastname }} picture">
				<h3 class="fw-bold mt-4 mb-0">
					{{ employee.civility ~ ' ' ~ employee.firstname ~ ' ' ~ employee.lastname }}
				</h3>
				<p class="role mb-3 fs-5 fw-light text-secondary">{{ employee.role }}</p>
			</div>
			{% endfor %}
			<div>
	</section>
	<section class="goodness container my-5">
		<div class="row justify-content-around flex-column flex-lg-row">
			<div class="row mb-4">
				<h2 class="text-center text-primary mt-4">Nos valeurs</h2>
			</div>
			{% for goodness in goodnesses %}
			<div class="col col-lg-3 col-10 offset-1 offset-lg-0">
				<h3 class="text-center mb-2 text-secondary">{{ goodness.goodness }}</h3>
				<p class="text-center">{{ goodness.text }}</p>
			</div>
			{% endfor %}
		</div>
	</section>
	<section class="missions container-fluid mt-5 pb-5">
		<div class="row mb-4 pt-3">
			<h2 class="text-center mt-4">Nos missions</h2>
		</div>
		<div class="mission container mt-0">
			{% for mission in missions %}
			<div class="row my-6 {{ loop.index is even ? 'flex-row-reverse' }} mt-5">
				<div class="col-lg-6">
					<img src="{{ mission.image }}" class="rounded-1 w-100" alt="{{ mission.title }} image">
				</div>
				<div class="col-lg-6 align-self-center">
					<h3 class="text-center mb-1">{{ mission.title }}</h3>
					<p class="text-center text-xxl-start">{{ mission.text }}</p>
					<p class="text-center text-xxl-start text-secondary opacity-75">{{ mission.slogan }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
</main>
{% endblock %}