{{ form_start(form) }}
{{ form_widget(form.type, {
        'attr': {
        'class': 'd-none'
        }}) }}
{{ form_row(form.title) }}
<a href="{{ path('admin_service_category_index') }}" class="btn btn-secondary px-3 py-1 me-2 text-light">
	<i class="bi bi-arrow-left-square text-light me-2"></i>Retour</a>
<button class="btn btn-primary px-3 py-1"><i class="bi bi-arrow-down-square me-2"></i>{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
