{% extends 'base.html.twig' %}

{% block title %}Mes coordonnées
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	<header>
		{% include "/items/_banner.html.twig" %}
	</header>
	<main class="container">
		<div class="row mb-4 mt-3">
			<h1 class="text-center mt-5 ">
				Informations personnelles</h1>
		</div>
		<div class="card mb-5 col-lg-6 offset-lg-3 rounded-2">
			<div class="card-text p-3 mb-5 rounded-top d-flex justify-content-center align-content-center">
				<p class="mb-0">Compléter mes informations personnelles</p>
			</div>
			{{ form_start(registrationCandidatForm,
        {'attr': {
        'class': 'd-flex flex-column mt-2 mb-4 px-5 container'
        }}) }}

			<div class="row mb-2">
				<div class="col">
					{{ form_row(registrationCandidatForm.birthDate) }}</div>
			</div>
			<div class="row mb-2">
				<div class="col">
					{{ form_row(registrationCandidatForm.address, {
        'attr': {
        'placeholder': '2 rue de la République'
        }
        }) }}</div>
			</div>
			<div class="row mb-2	">
				<div class="col">
					{{ form_row(registrationCandidatForm.postalCode, {
        'attr': {
        'placeholder': '45000'
        }
        }) }}</div>
				<div class="col">
					{{ form_row(registrationCandidatForm.city, {
        'attr': {
        'placeholder': 'Orléans'
        }
        }) }}</div>
			</div>
			<button class="btn btn-secondary fw-bold text-light align-self-center mb-4">Valider</button>
			{{ form_end(registrationCandidatForm) }}
		</div>
	</main>
{% endblock %}
