{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Inscription
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block body %}
	<header>
		{% include "/items/_banner.html.twig" %}
	</header>
	<main class="container">
		<div class="row mb-4 mt-3">
			<h1 class="text-center">Inscription</h1>
		</div>

		<div class="card mb-5 col-lg-6 offset-lg-3 rounded-2">
			<div class="card-text p-3 mb-5 rounded-top d-flex justify-content-center align-content-center">
				<p class="mb-0">Créer mon espace personnel</p>
			</div>

			{{ form_start(registrationForm,
        {'attr': {
        'class': 'd-flex flex-column mt-2 mb-4 px-5  container'
        }}) }}
			<div class="row mb-4">
				{{ form_label(registrationForm.type) }}
					<div class="col-5 ms-3">
					{{ form_widget(registrationForm.type[0]) }}
				</div>
				<div class="col-4">
					{{ form_widget(registrationForm.type[1]) }}
				</div>
			</div>
				<div class="col-5 mx-3">
			{{ form_row(registrationForm.gender, {
        'attr': {
        'class': 'd-flex justify-content-between'
        }
        }) }}
		</div>
			<div class="d-flex">
				<div class="row">
					<div class="col">
						{{ form_row(registrationForm.firstname, {
                    'attr': {
                    'placeholder': 'Jean'
                    }
                    }) }}
					</div>
					<div class="col">
						{{ form_row(registrationForm.lastname, {
                    'attr': {
                    'placeholder': 'Durand'
                    }
                    }) }}
					</div>
				</div>
			</div>
			{{ form_row(registrationForm.email, {
        'attr': {
        'placeholder': 'jeandurand@exemple.fr'
        }
        }) }}
			{{ form_row(registrationForm.phoneNumber, {
        'attr': {
        'placeholder': '0602030405'
        }
        }) }}
			{{ form_row(registrationForm.password, {
        label: 'Password'
        }) }}
			<div class="row">
				<div class="col-8 offset-2 d-flex">
				{{ form_row(registrationForm.agreeTerms, {
                'attr': {
                'class': 'align-self-center',
                }
                }) }}
				<p>Accepter les <a href="{{ path('conditions') }} " target="_blank">conditions d'utilisation</a></p>
				</div>
			</div>

			<button type="submit" class="btn btn-primary col-sm-4 offset-sm-4">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</main>

{% endblock %}
