{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Softskills
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5 ">
			Mes softskills</h1>
		<div class="row">
			<h2 class="text-center fs-3">Ajouter jusqu'à 3 softskills</h2>
			<div class="col-6 offset-md-3 fs-4 mt-5">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-secondary fw-bold text-light align-self-center mb-4">Valider</button>
				<a class="btn btn-outline-dark align-self-center mb-4" href=" {{ path('candidat_show', {'user': candidat.user}) }}">Retour</a>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
