{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mes Coordonnées
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block body %}
	<main class="container">

		<h1 class="text-center mt-5">
			Mes coordonnées</h1>
		<div class=" edit_form col-md-6 offset-md-3 fs-4 mt-5 text-info fs-4">

			{{ form_start(form) }}
			<div class="row mb-2">
				<div class="col">
					{{ form_row(form.user.gender, {
        'attr': {
        'class': 'd-flex justify-content-between'
        }
        }) }}</div>
			</div>
			<div class="row mb-2">
				<div class="col">
					{{ form_row(form.user.lastname) }}</div>
				<div class="col">
					{{ form_row(form.user.firstname) }}</div>
			</div>

			<div class="row mb-2">
				<div class="col">
					{{ form_row(form.user.phoneNumber) }}</div>

			</div>
			<div class="row mb-2">
				<div class="col">
					{{ form_row(form.birthDate) }}</div>

			</div>
			<div class="row mb-2">
				<div class="col">
					{{ form_row(form.address) }}</div>
			</div>
			<div class="row mb-2	">
				<div class="col">
					{{ form_row(form.postalCode) }}</div>
				<div class="col">
					{{ form_row(form.city) }}</div>
			</div>
			<button class="btn btn-secondary fw-bold text-light align-self-center mb-4"><i class="bi bi-check2-square me-2"></i>Valider</button>
			<a class="btn btn-outline-dark align-self-center mb-4" href=" {{ path('candidate_show', {'user': candidate.user}) }}"><i class="bi bi-arrow-left-square test-light me-2"></i>Retour</a>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
