{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Mes Langues
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('languages') }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5 ">
			Mes langues</h1>
		<div class="row">
			<h2 class="text-center fs-3">Ajouter les langues parlées</h2>
			<div class="col-md-6  offset-md-3 fs-4 mt-5 text-info edit_form">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-secondary fw-bold text-light mb-4"><i class="bi bi-check2-square me-2"></i>Valider</button>
				<a class="btn btn-outline-dark mb-4" href=" {{ path('candidate_show', {'user': candidate.user}) }}"><i class="bi bi-arrow-left-square test-light me-2"></i>Retour</a>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
