{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	-
	{{ company.denomination }}
	Profil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('companyProfile') }}
	{{ encore_entry_link_tags('sideMenu') }}
{% endblock %}

{% block body %}

	<div class="d-flex">
		{% include "company/components/_SideMenuCompany.html.twig" %}
		<div class="container my-5" >
			{% if company.companycomments is not empty %}
				<div class="alert alert-danger alert-dismissible fade show  my-2 col-lg-6 offset-lg-3" role="alert">

					Bonjour
					{{ company.user.firstname }}
					{{ company.user.lastname }}.<strong> <a class="comment" href="#companycomment">
						Vous avez
						{{ company.companycomments|length }}
						message(s)</strong></a>.
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

				</div>
			{% endif %}
			<h1 class="text-center mb-4" id="top">Mon entreprise</h1>
			{% include "company/components/_companyDetails.html.twig" %}
			{% include "company/components/_companyContact.html.twig" %}
			{% include "company/components/_companyNeed.html.twig" %}
			{% if company.companycomments is not empty %}
				<div class="mt-5 col-md-6 offset-md-3 mt-3" id ="companycomment">
					<div class="alert alert-primary" role="alert">
						{% for company_comment in company.companycomments|reverse %}
							<div class="fs-4 text-info">
								<i class="bi bi-chat-text-fill text-info me-2"></i>
								{{ company_comment.createdAt|date("d-m-Y") }}</div>
							<div class="mb-4 mt-1 mb-4">{{ company_comment.comment }}</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
