<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}CERHA
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</head>
	{% block navbar %}
		{% include "items/_navbar.html.twig" %}
	{% endblock %}
	<body>
		{% block flashes %}
			{% for category, messages in app.flashes %}

				{% for message in messages %}

					<div class="alert alert-{{ category }}">

						{{ message }}

					</div>

				{% endfor %}

			{% endfor %}
		{% endblock %}


		{% block body %}{% endblock %}
	</body>
	{% block footer %}
		{% include "items/_footer.html.twig" %}
	{% endblock %}
</html>
