<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}CERHA
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</head>
	{% block navbar %}
		{% include "items/_navbar.html.twig" %}
	{% endblock %}
	{% block flash %}
		{% for category, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible fade show flash w-100">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %}
	{% endblock %}
<body>
	{% block body %}{% endblock %}
</body>
{% block footer %} {% include "items/_footer.html.twig" %} {% endblock %}
</html>
