<div class="row candidateDetails mt-5 d-lg-block d-flex justify-content-center" id="candidateDetails">
	<div class="card card-candidateDetails p-4 col-lg-6 col-10 offset-lg-3">
		<div class="d-flex mt-2 justify-content-between">
			<h2 class="card-title text-primary ms-3 pt-1">Coordonnées</h2>
			{% if is_granted("ROLE_ADMIN") == false %}
				<a class="btn fs-6 bi bi-pencil-square pt-2" href="{{ path('candidate_edit', {'user': candidate.user}) }}">
					Modifier</a>
			{% endif %}
		</div>
		<ul class="list-unstyled mt-3">

			<li class="fs-4">
				<i class=" bi bi-person-circle mx-3 "></i>
				{{ candidate.user.gender }}
				{{ candidate.user.firstname }}
				{{ candidate.user.lastname }}
			</li>
			<li>
				<i class="bi bi-calendar-event  mx-3 "></i>
				{{ candidate.birthDate|date('d-m-Y') }}</li>
			<li>
				<i class="bi bi-telephone  mx-3 "></i>
				{{ candidate.user.phoneNumber }}</li>
			<li>
				<i class="bi bi-envelope  mx-3 "></i>
				{{ candidate.user.email }}</li>
			<li>
				<i class="bi bi-geo-alt  mx-3 "></i>
				{{ candidate.address }}
				{{ candidate.postalCode }}
				{{ candidate.city }}
			</li>
		</ul>
	</div>
</div>
