<div class="row candidateFormations mt-5 d-lg-block d-flex justify-content-center" id="candidateFormations">
	<div class="card card-candidateFormations  p-4 col-lg-6 col-10 offset-lg-3">
		<div class="d-flex mt-2 justify-content-between">
			<h2 class="card-title text-primary ms-3 pt-1">Formations</h2>
			{% if is_granted("ROLE_ADMIN") == false %}
				<a class="btn fs-6 bi bi-pencil-square pt-2" href="{{ path('candidate_edit_formation', {'user': candidate.user}) }}">
					Modifier</a>
			{% endif %}
		</div>
		<div class=" mt-3">
			{% for formation in candidate.formations %}
				<h4 class="text-secondary mx-3">
					<i class="bi  bi-book text-secondary"></i>
					{{ formation.level.level }}
					-
					{{ formation.title }}</h4>
				<p class="text-muted mx-3">
					{{ formation.place }}
					|
					{{ formation.startDate|date('F Y') }}
					-
					{{ formation.endDate|date('F Y') }}
				</p>
				<div class="mx-3 my-4 lh-base">
					<p>{{ formation.description|nl2br }}</p>
				</div>
				<div class="mx-3 d-flex text-muted ">
					<span class="fs-5 pb-5 text-dark">Référent</span>
					<div>
						<i class="bi bi-person text-muted ms-3"></i>
						{{ formation.referent }}
						<i class="bi  bi-telephone text-muted ms-3  mb-3"></i>
						{{ formation.phoneReferent }}
					</div>
				</div>
			{% else %}
				<p class="mx-3">Aucune information disponible.</p>
			{% endfor %}
		</div>
	</div>
</div>
