<div class="row candidateFormations mt-5 d-lg-block d-flex justify-content-center" id="candidateFormations">
	<div class="card card-candidateFormations  p-4 col-lg-6 col-10 offset-lg-3">
		{% if not is_granted("ROLE_ADMIN") and is_granted("ROLE_CANDIDATE") %}
			<a class="btn btn-outline-light ms-5 align-self-end fs-6  bi bi-pencil-square" href=" {{ path('candidate_edit_formation', {'user': candidate.user}) }}">
				Modifier</a>
		{% endif %}
		<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">Formations</h2>
		<div class=" mt-3">

			{% for formation in candidate.formations %}
				<h4 class="text-secondary mx-3">
					<i class="bi  bi-book text-secondary"></i>
					{{ formation.level.level }}
					-
					{{ formation.title }}</h4>
				<p class="text-muted mx-3">
					{{ formation.place }}
					|
					{{ formation.startDate|date('F Y') }}
					-
					{{ formation.endDate|date('F Y') }}
				</p>
				<div class="mx-3 my-4 lh-base">
					<p>{{ formation.description }}</p>
				</div>
				<div class="mx-3 d-flex text-muted ">
					<span class="fs-5 pb-5 text-dark">Référent</span>
					<div>
						<i class="bi bi-person-check text-muted ms-3"></i>
						{{ formation.referent }}
						<i class="bi  bi-telephone-forward text-muted ms-3  mb-3"></i>
						{{ formation.phoneReferent }}
					</div>
				</div>
			{% else %}
				<p class="mx-3">Aucune information disponible.</p>
			{% endfor %}
		</div>
	</div>
</div>
