{% extends 'base-admin.html.twig' %}

{% block title %}
	{{ parent() }}
	- Administration candidats
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('adminCandidate') }}
{% endblock %}
{% block body %}
	<div class="container m-5">
		<h1 class="text-center mb-4">Administration candidats</h1>

		<main class="container">
			<section class="searchForm">
				{{ form_start(form) }}
				{{ form_label(form.search, 'Rechercher un candidat') }}
				<div class="input-group mb-3 col-6">
					{{ form_widget(form.search) }}
					<button class="btn btn-primary text-light" id="button-addon2">
						<i class="bi bi-search"></i>
					</button>
					<a href="{{ path('admin_candidate_index') }}" class="btn btn-secondary text-light" id="button-addon2">
						<i class="bi bi-arrow-clockwise"></i>
					</a>
				</div>
				{{ form_end(form) }}
			</section>
			<table class="table table-hover">
				<thead class="bg-primary">
					<tr>
						<th>Référence</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Ville</th>
						<th>Commentaire</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for candidate in candidates %}
						<tr>
							<td class="align-middle">
								{{ candidate.user.reference }}
							</td>
							<td class="align-middle">
								{{ candidate.user.lastname }}
							</td>
							<td class="align-middle">{{ candidate.user.firstname }}</td>
							<td class="align-middle">{{ candidate.city }}</td>
							<td class="align-middle">{{ candidate.candidatecomments|length }}<i class="bi bi-chat-left-text mx-3"></i>
							</td>
							<td class="d-flex justify-content-end gap-3">
								<a class="btn btn-primary px-3 py-1" href="{{ path('admin_candidate_show', {'id': candidate.id}) }}">
									<i class="bi bi-eye me-2"></i>Profil nommé
								</a>
								<a href="{{ path('candidate_show_public_profile', {'reference': candidate.user.reference}) }}" class="px-3 py-1 btn btn-primary">
									<i class="bi bi-person-video me-2"></i>Profil anonyme
								</a>
								<a href="{{ path('admin_candidate_pdf', {'id': candidate.id}) }}">
									<button class="btn btn-secondary px-3 py-1 text-light">
										<i class="bi bi-download me-2"></i>PDF
									</button>
								</a>
								{{ include('admin_candidate/_delete_form.html.twig') }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9">Aucun candidat trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	</div>
{% endblock %}
