{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ candidat.birthDate ? candidat.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ candidat.address }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ candidat.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ candidat.city }}</td>
            </tr>
            <tr>
                <th>TimeSearch</th>
                <td>{{ candidat.timeSearch }}</td>
            </tr>
            <tr>
                <th>SearchQuality</th>
                <td>{{ candidat.searchQuality }}</td>
            </tr>
            <tr>
                <th>ProfilQuality</th>
                <td>{{ candidat.profilQuality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_candidate_index') }}">back to list</a>

    <a href="{{ path('admin_candidate_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('admin_candidate/_delete_form.html.twig') }}
{% endblock %}
