<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-4">
	<div class="container-fluid d-flex">
		<a class="navbar-brand order-first" href="{{ path('home') }}">
			<img class="logoCERHA" src="{{ asset('build/images/logo-detoure.png') }}" alt="logo CERHA"/>
		</a>
		<div class="navbar-nav order-lg-last order-xs-2 ms-auto me-2">
			<a class="btn btn-secondary fw-bold " href="#">Mon espace</a>
		</div>
		<button class="navbar-toggler order-lg-2 order-xs-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse order-lg-3 order-xs-4 justify-content-end me-5" id="navbarSupportedContent">
			<div class="pagesLinks navbar-nav mb-2 mb-lg-0">
				<a class="nav-link fs-5" href="{{ path('home') }}">Accueil</a>
				<a class="nav-link fs-5" href="{{ path('about') }}">À propos</a>
				<a class="nav-link fs-5" href='{{ path('services') }}'>Services</a>
				<a class="nav-link fs-5" href="{{ path('contact') }}">Contact</a>
			</div>
		</div>

	</div>
</nav>
