<nav class="sideMenu d-lg-flex d-none flex-column justify-content-start align-items-start overflow-auto">
	<h2 class="text-light fs-3 mt-4 px-4 pb-4 text-break">{{ app.user.firstname }} {{ app.user.lastname }} </h2>
	<div class="navbar-nav mt-4 px-4">
		<a class="nav-link fs-5 my-1 d-flex" href="{{ path('admin_candidate_index') }}">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Candidats
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="{{ path('admin_company_index') }}">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Entreprises
		</a>
		<a class="nav-link fs-5 my-1 d-flex" href="{{ path('admin_employee_index') }}">
			<i class="bi bi-plus-circle-fill text-light me-3"></i>Membres
		</a>
	</div>
</nav>
