<div class="row softskills mt-5">
	<div class="card card-softskills p-4 col-md-6 offset-md-3">
		<a class="btn btn-outline-light ms-5 align-self-end fs-5  bi bi-pencil-square" href=" {{ path('candidat_edit_formation', {'user': candidat.user}) }}">
			Modifier</a>
		<h2 class="card-title text-primary text-center mt-3 pt-2 px-4">
			<i class="bi  bi-book text-primary"></i>
			Formations
		</h2>

		<div class=" mt-3">

			{% for formation in candidat.formations %}
				<h4 class="text-secondary mx-3">

					{{ formation.level.level }}
					-
					{{ formation.title }}</h4>
				<p class="text-muted mx-3">
					{{ formation.place }}
					|
					{{ formation.startDate|date('F Y') }}
					-
					{{ formation.endDate|date('F Y') }}
				</p>


				<div class="mx-3 mb-4 lh-base">
					<p>{{ formation.description }}</p>
				</div>


				<div class="mx-3 d-flex text-dark ">
					Référent
					<div>
						<div>
							<i class="bi bi-person-check text-dark ms-3 fs-5"></i>
							{{ formation.referent }}

							<i class="bi  bi-telephone-forward text-dark ms-3 fs-6"></i>
							{{ formation.phoneReferent }}
						</div>
					</div>
				</div>


			{% else %}

				Aucune information disponible.
			{% endfor %}

		</div>
	</div>
</div>
