{{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
{{ form_widget(form) }}
<a href="{{ path('admin_employee_index') }}" class="btn btn-secondary px-3 py-1 me-2 text-light">
	<i class="bi bi-arrow-left-square test-light me-2"></i>Retour</a>
<button class="btn btn-primary px-3 py-1"><i class="bi bi-arrow-down-square me-2"></i>{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
