{{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
{{ form_widget(form) }}
<a href="{{ path('admin_employee_index') }}" class="btn btn-secondary mt-3 me-3 text-light">
	<i class="bi bi-arrow-left-square mb-4 test-light me-1"></i>Retour</a>
<button class="btn btn-primary mt-3">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
