{% extends 'base-admin.html.twig' %}

{% block title %}
	{{ parent() }}
	- Administration membres
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('adminCandidate') }}
{% endblock %}

{% block body %}
	<main class="container m-5">
		<h1 class="text-center mb-4">Administration membres CERHA</h1>

		<table class="table table-hover">
			<thead class="bg-primary">
				<tr>
					<th class="text-light">Nom</th>
					<th class="text-light">Prénom</th>
					<th class="text-light">Rôle</th>
					<th class="text-light">Photo</th>
					<th class="text-light d-flex justify-content-end add">
						<a href="{{ path('admin_employee_new') }}" class="btn btn-secondary ">
							<i class="bi bi-plus-lg text-light px-1"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in employees %}
					<tr>
						<td class="align-middle">{{ employee.lastname }}</td>
						<td class="align-middle">{{ employee.firstname }}</td>
						<td class="align-middle">{{ employee.role }}</td>
						<td class="align-middle"><img src="{{ employee.picture }}" class="avatar" alt="Photo de {{ employee.lastname }} {{ employee.firstname }}"></td>
						<td class="d-flex justify-content-end gap-3">
							<a href="{{ path('admin_employee_edit', {'id': employee.id}) }}">
								<button class="btn btn-primary px-3 py-1">
									<i class="bi bi-pencil-square"></i>
								</button>
							</a>
							{{ include('admin_employee/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucune entreprise trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
