{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	- Mon profil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('profile') }}
	{{ encore_entry_link_tags('sideMenu') }}
{% endblock %}


{% block body %}
	<div class="d-flex">
		{% include "candidate/components/_SideMenuCandidate.html.twig" %}
		<div class="container my-5">
			<div class="alert alert-danger alert-dismissible fade show  my-2 col-lg-6 offset-lg-3" role="alert">
				{% if candidate.candidatecomments is not null %}
					Bonjour
					{{ candidate.user.firstname }}
					{{ candidate.user.lastname }}.<strong>
						Vous avez
						{{ candidate.candidatecomments|length }}
						message(s)</strong>.
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{% endif %}
			</div>
			{% include "candidate/components/_contactDetails.html.twig" %}
			{% include "candidate/components/_skills.html.twig" %}
			{% include "candidate/components/_formations.html.twig" %}
			{% include "candidate/components/_experiences.html.twig" %}
			{% include "candidate/components/_soft-skills.html.twig" %}
			{% include "candidate/components/_languages.html.twig" %}
			{% include "candidate/components/_hobbies.html.twig" %}
			{% include "candidate/components/_complementary-questions.html.twig" %}
			{% include "candidate/components/_documents.html.twig" %}
			<div class="p-4 col-md-6 offset-md-3">
				<div class="alert alert-secondary" role="alert">
					{% if candidate.candidatecomments is not null %}
						{% for candidatecomment in candidate.candidatecomments|reverse %}
							<div class="fs-4">
								Message reçu le
								{{ candidatecomment.createdAt|date("m/d/Y") }}</div>
							<p>{{ candidatecomment.comment }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
