<div class="row companyDetails mt-5" id="companyDetails">
	<div class="card p-4 col-md-6 offset-md-3">
		<a class="btn btn-outline-light ms-5 align-self-end fs-5  bi bi-pencil-square" href="{{ path('company_editDetails', {id: company.id}) }}">
			Modifier</a>
		<h2 class="card-title text-secondary text-center mt-3 pt-2 px-4">Informations sur l'entreprise</h2>
		<ul class="list-unstyled mt-3">
			<li>
				<i class="bi bi-building mx-3"></i>
				{{ company.denomination }}
			</li>
			<li>
				<i class="bi bi-geo-alt  mx-3 "></i>
				{{ company.address }},
				{{ company.postalCode }}
				{{ company.city }}
			</li>
			<li>
				<i class="bi bi-info-circle mx-3"></i>
				SIRET :
				{{ company.siret }}
			</li>
			<li>
				<i class="bi bi-info-circle mx-3"></i>
				Code APE :
				{{ company.apeCode }}
			</li>
			<li>
				<i class="bi bi-info-circle mx-3"></i>
				Numéro TVA :
				{{ company.vatNumber }}
			</li>
			<li>
				<i class="bi bi-info-circle mx-3"></i>
				Domaine d'activité :
			</li>
			<li>
				<i class="bi bi-info-circle mx-3"></i>
				Convention collective :
			</li>
			<li>
				<i class="bi bi-list-ul mx-3"></i>Réseaux :
				<ul class="list-unstyled ms-5">
					{% if company.website is not null %}
						<li>
							<i class="bi bi-globe mx-3"></i>
							<a class="companyNetwork text-decoration-none" href="{{ company.website }}" target="_blank">Notre site internet</a>
						</li>
					{% endif %}
					{% if company.linkedin is not null %}
						<li>
							<i class="bi bi-linkedin mx-3"></i>
							<a class="companyNetwork text-decoration-none" href="{{ company.linkedin }}" target="_blank">Notre page Linkedin</a>
						</li>
					{% endif %}
					{% if company.facebook is not null %}
						<li>
							<i class="bi bi-facebook mx-3"></i>
							<a class="companyNetwork text-decoration-none" href="{{ company.facebook }}" target="_blank">Notre page Facebook</a>
						</li>
					{% endif %}
					{% if company.instagram is not null %}
						<li>
							<i class="bi bi-instagram mx-3"></i>
							<a class="companyNetwork text-decoration-none" href="{{ company.instagram }}" target="_blank">Notre page Instagram</a>
						</li>
					{% endif %}
				</ul>
			</li>
		</ul>
	</div>
</div>
