<div class="row companyContact mt-3 d-lg-block d-flex justify-content-center" id="companyContact">
	<div class="card p-4 col-lg-6 col-10 offset-lg-3">
		<div class="d-flex mt-2 justify-content-between">
			<h2 class="card-title text-secondary ms-3 pt-1">Contact</h2>
			{% if is_granted("ROLE_ADMIN") == false %}
				<a class="btn fs-6 bi bi-pencil-square pt-2" href="{{ path('company_editContact') }}">
					Modifier</a>
			{% endif %}
		</div>
		<ul class="list-unstyled mt-3">
			<li>
				<i class="bi bi-person-circle mx-3"></i>
				{{ company.user.gender }}
				{{ company.user.firstname }}
				{{ company.user.lastname }}
			</li>
			<li>
				<i class="bi bi-briefcase mx-3"></i>
				{{ company.contactRole }}
			</li>
			<li>
				<i class="bi bi-envelope  mx-3 "></i>
				{{ company.user.email }}
			</li>
			<li>
				<i class="bi bi-telephone-forward  mx-3 "></i>
				{{ company.user.phoneNumber }}
			</li>
		</ul>
	</div>
</div>
