{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ company.denomination }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ company.siret }}</td>
            </tr>
            <tr>
                <th>ApeCode</th>
                <td>{{ company.apeCode }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ company.address }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ company.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>VatNumber</th>
                <td>{{ company.vatNumber }}</td>
            </tr>
            <tr>
                <th>ContactRole</th>
                <td>{{ company.contactRole }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ company.website }}</td>
            </tr>
            <tr>
                <th>Linkedin</th>
                <td>{{ company.linkedin }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ company.facebook }}</td>
            </tr>
            <tr>
                <th>Instagram</th>
                <td>{{ company.instagram }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_company_index') }}">back to list</a>

    <a href="{{ path('admin_company_edit', {'id': company.id}) }}">edit</a>

    {{ include('admin_company/_delete_form.html.twig') }}
{% endblock %}
